#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
}

ul {
  list-style: none;
}

.pic {
  border-radius: 50%;
  width: 100px;
}

span {
  cursor: pointer;
}